<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/flask.css">
    <meta charset="UTF-8">
    <title>EV3 remote control</title>
</head>

<body>
<header>
    <H1><img class="thumbnail" src="/static/css/ev3logo.jpeg"> EV3 HTML & CSS testing page</H1>
</header>
<nav>
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Dropdown</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a><img class="thumbnail" src="/static/css/back.png">
          <a href="#">Link 2</a><img class="thumbnail" src="/static/css/back.png">
          <a href="#">Link 3</a><img class="thumbnail" src="/static/css/back.png">
        </div>
      </li>
    </ul>
</nav>

<h3>Dropdown Menu inside a Navigation Bar</h3>
<p>Hover over the "Dropdown" link to see the dropdown menu.</p>

<aside>
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li class="dropdown-01">
        <a href="#" class="dropbtn-01">News</a>
        <div class="dropdown-content-01">
            <a href="#">Link 1 <img class="thumbnail" src="/static/css/back.png"></a>
            <a href="#">Link 2 <img class="thumbnail" src="/static/css/back.png"></a>
            <a href="#">Link 3 <img class="thumbnail" src="/static/css/back.png"></a>
        </div>
      </li>
      <li class="dropdown-01">
        <a href="#" class="dropbtn-01">Dropdown</a>
        <div class="dropdown-content-01">
            <a href="#">Link 1 <img class="thumbnail" src="/static/css/back.png"></a>
            <a href="#">Link 2 <img class="thumbnail" src="/static/css/back.png"></a>
            <a href="#">Link 3 <img class="thumbnail" src="/static/css/back.png"></a>
        </div>
      </li>
    </ul>
</aside>
<section>This is the SECTION!</section>
<article>This is the ARTICLE!</article>
</body>
</html>



