<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/test.css">
    <meta charset="UTF-8">
    <title>London</title>
</head>
<body>

<div id="header">
<h1>City Gallery</h1>
</div>

<div id="nav">
    <ul>
      <li><a class="active" href="#home">London</a></li>
      <li><a href="#news">Paris</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Rome</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a><img class="thumbnail" src="/static/css/back.png">
          <a href="#">Link 2</a><img class="thumbnail" src="/static/css/back.png">
          <a href="#">Link 3</a><img class="thumbnail" src="/static/css/back.png">
        </div>
      </li>
    </ul>
</div>

<div id="section1">
<h1>London</h1>
<p>London is the capital city of England. It is the most populous city in the United Kingdom,
with a metropolitan area of over 13 million inhabitants.</p>
<p>Standing on the River Thames, London has been a major settlement for two millennia,
its history going back to its founding by the Romans, who named it Londinium.</p>
</div>

<div id="section2">
<h1>Paris</h1>
<p>Paris is the capital city of England. It is the most populous city in the United Kingdom,
with a metropolitan area of over 13 million inhabitants.</p>
<p>Standing on the River Thames, London has been a major settlement for two millennia,
its history going back to its founding by the Romans, who named it Londinium.</p>
</div>

<div id="section3">
<h1>Rome</h1>
<p>Rome is the capital city of England. It is the most populous city in the United Kingdom,
with a metropolitan area of over 13 million inhabitants.</p>
<p>Standing on the River Thames, London has been a major settlement for two millennia,
its history going back to its founding by the Romans, who named it Londinium.</p>
</div>

<div id="footer">
Copyright © W3Schools.com
</div>

</body>